## Scraping Wine Prices from Jumia Kenya

Jumia.co.ke is one of the largest online retailers in Kenya. On their list of consortment of goods is wine. As an enthusiast keen on comparing prices, below is the code I used to scrape details on more than 450 wine products on the platform.

In [1]:
# Importing the packages/libraries I will need

from bs4 import BeautifulSoup # for parsing the page
import requests # for downloading the page
import pandas as pd # for creating and rendering the dataframe

In [2]:
url = 'https://www.jumia.co.ke/wine/?page=1#catalog-listing' #.format(i)
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
df = pd.DataFrame(columns = ['Product', 'Price', 'Old Price', 'Percentage Drop', 'Stars', 'Reviews'])
df

Empty DataFrame
Columns: [Product, Price, Old Price, Percentage Drop, Stars, Reviews]
Index: []

In [4]:
div = soup.find('div', class_ = "-paxs row _no-g _4cl-3cm-shs")
wine_elems = div.find_all('article', class_ = "prd _fb col c-prd")

for elem in wine_elems:
    name = elem.find('h3', class_ = 'name').get_text()
    price = elem.find('div', class_ = 'prc').get_text().replace('KSh ', '')
    try: 
        old_price = elem.find('div', class_ = 'old').get_text().replace('KSh ', '')
    except:
        old_price = ''
    try:
        price_drop = elem.find('div', class_ = "tag _dsct _sm").get_text().replace('%', '')
        
    except:
        price_drop = ''
    try:
        stars = elem.find('div', class_ = "rev").get_text('#').split('#')[0]
        stars = stars[0]
    except:
        stars = ''
    try:
        revs = elem.find('div', class_ = "rev").get_text('#').split('#')[1]
        revs = revs.strip('()').strip(')')
    except:
        revs = ''
                                                          
        
    data = {
        'Product': [name], 
        'Price': [price], 
        'Old Price': [old_price], 
        'Percentage Drop': [price_drop], 
        'Stars': [stars], 
        'Reviews': [revs]
    }
    
    temp_df = pd.DataFrame(data)
    df = pd.concat([df, temp_df], ignore_index = True)

df

,Product,Price,Old Price,Percentage Drop,Stars,Reviews
0,Robertson Winery Natural Sweet Red Wine 750ml,"1,200","1,500",20,4,2
1,Four Cousins Red Wine - 750 ML,"1,500",,,4,76
2,Cellar Cask Johannisberger Red Natural sweet...,950,,,4,22
3,Cellar Cask Jhb Red Wine 750ml Cellar Cask,868,,,4,10
4,4th Street Natural Sweet Red Wine - 5L,"3,750","3,950",5,5,1
5,Cellar Cask White Wine - 750 Ml,950,"1,500",37,5,1
6,Caprice Red Sweet Tetra Pack 1l,680,,,4,25
7,Robertson Winery Natural Sweet White Wine,"1,340","1,700",21,,
8,Carrefour Delush Sweet Red 750 Ml,833,,,5,1
9,Pierre Marcel Sweet Red 750ml,"1,150",,,5,1
10,Arcadia MOELLUX MEDIUM SWEET WINE,"1,296 - 7,128","2,200 - 13,200",46,,
11,4th Street Natural Sweet White Wine - 5L,"3,750","3,900",4,,
12,Wines Of Porto Natural Sweet Red- 5 Litres Fou...,"3,750","4,300",13,4,5
13,Carrefour Wine 750ml Alter,822,,,4,33
14,J P Chenet Chardonnay 750Ml- Buy 1 Get 1 Free,"2,000",,,5,1
15,Generic Bacbity ANENE A830L Digital Voltmeter ...,792,"1,584",50,,
16,Carrefour White Wine 750 Ml Pe Branco,959,"1,070",10,5,2
17,Chamdor Non-Alcoholic Wine 750ml,"1,500","1,600",6,,
18,Dragon's Back Mountain Natural Sweet White Win...,894,,,4,1
19,Coral Reef Chardonnay Semilion White 750ML Buy...,"3,600",,,4,1
20,Tocornal by Cono Sur Merlot â€“ 0.75L..,920,,,4,3
21,9 fields Merlot Red 750ML Buy 1 Get 1 Free,"3,600",,,,
22,Pierlant Demi Sec White Sparkling 750ml- Buy 1...,"2,000",,,4,3
23,9 fields Chenin Blanc White 750ML Buy 1 Get 1 ...,"3,600",,,,
24,Four Cousins Natural Sweet Red 5000 ML,"3,899","7,798",50,,
25,Malbec Barrica Bird & Bees,"1,950","2,000",3,,
26,Argento Artesano Organic Malbec 750ml,"1,950",,,,
27,Cellar Cask Red Wine - 5Lt,"3,800",,,4,3
28,Namaqua Smooth Dry Red Wine 5 Litres,"3,899","7,798",50,5,1
29,Arcadia Cabernet Sauvigno,"1,200","2,000",40,5,1
30,Rosso Nobile With Chocolate German Red Wine,"2,400","2,700",11,,
31,Drostdy Hof Premier Grand Cru 750ml,748,,,5,1
32,Rio Anejo Tempranillo Merlot Red 750ml,"1,500",,,,
33,Pierlant Demi Sec Rose,"1,600",,,4,18
34,Chamdor Spark Grape Juice White -- 750ml,"1,280","1,500",15,,
35,Casals Mendes Sangria Red Wine - 750ml,999,"1,150",13,,
36,Rosso Nobile Al Cioccolata Wine - 750ml,"2,350","4,000",41,5,1
37,Namaqua Dry White Wine 5 Litres,"3,799","7,598",50,,
38,Martini Rosso Natural Sweet Red Wine Vermouth ...,"3,299","6,598",50,5,1
39,Argento Malbec Classic 750ml,"1,375",,,3,1

In [5]:
# Modify code to mine data from all 12 pages instead of just 1

for i in range(1, 13):
    url = 'https://www.jumia.co.ke/wine/?page={}#catalog-listing'.format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')

    div = soup.find('div', class_ = "-paxs row _no-g _4cl-3cm-shs")
    try:
        wine_elems = div.find_all('article', class_ = "prd _fb col c-prd")
    except:
        wine_elems = ''
    #print(wine_elems)
    for elem in wine_elems:
        name = elem.find('h3', class_ = 'name').get_text()
        price = elem.find('div', class_ = 'prc').get_text().replace('KSh ', '')
        try: 
            old_price = elem.find('div', class_ = 'old').get_text().replace('KSh ', '')
        except:
            old_price = ''
        try:
            price_drop = elem.find('div', class_ = "tag _dsct _sm").get_text().replace('%', '')

        except:
            price_drop = ''
        try:
            stars = elem.find('div', class_ = "rev").get_text('#').split('#')[0]
            stars = stars[0]
        except:
            stars = ''
        try:
            revs = elem.find('div', class_ = "rev").get_text('#').split('#')[1]
            revs = revs.strip('()').strip(')')
        except:
            revs = ''

        #print(name, price, old_price, stars, revs)
        
        data = {
            'Product': [name], 
            'Price': [price], 
            'Old Price': [old_price], 
            'Percentage Drop': [price_drop], 
            'Stars': [stars], 
            'Reviews': [revs]
        }

        temp_df = pd.DataFrame(data)
        df = pd.concat([df, temp_df], ignore_index = True)

df

,Product,Price,Old Price,Percentage Drop,Stars,Reviews
0,Robertson Winery Natural Sweet Red Wine 750ml,"1,200","1,500",20,4,2
1,Four Cousins Red Wine - 750 ML,"1,500",,,4,76
2,Cellar Cask Johannisberger Red Natural sweet...,950,,,4,22
3,Cellar Cask Jhb Red Wine 750ml Cellar Cask,868,,,4,10
4,4th Street Natural Sweet Red Wine - 5L,"3,750","3,950",5,5,1
...,...,...,...,...,...,...
409,Generic 100% New Indoor Room LCD Electronic Te...,833,"1,666",50,,
410,Generic 100% New ANENE A830L Digital Voltmeter...,"1,068","2,136",50,,
411,Drostdy Hof Claret Select Medium Bodied Red Wi...,"3,800","7,600",50,5,1
412,Martini Bianco White Wine 750ml,"2,294","2,500",8,,
413,Martini Rosso Natural Sweet Red Wine Vermouth ...,"2,231","2,650",16,,